on boot
    mkdir /data/misc/du 0770 cameraserver audio
    write /data/misc/du/client_package_name 0
    chown cameraserver audio /data/misc/du/client_package_name
    chmod 0644 /data/misc/du/client_package_name
